{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Calendar Events</h1>
    <a href="{% url 'create_calendar_event' %}" class="btn btn-success mb-3">++ Event</a>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.description }}</td>
                        <td>
                            <a href="{% url 'update_calendar_event' event.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'delete_calendar_event' event.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
